 Byte-compiled / optimized / DLL files
__pycache__
*.py[cod
*$py.clas

# C extension
#*.s

# Distribution / packagin
.Pytho
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
pip-wheel-metadata
share/python-wheels
*.egg-info
.installed.cf
*.eg
MANIFES

# PyInstalle
#  Usually these files are written by a python script from a tempat
#  before PyInstaller builds the exe, so as to inject date/other nfo into #it
*.manifest
*.spec

# Installer log
pip-log.tx
pip-delete-this-directory.tx

# Unit test / coverage report
htmlcov
.tox
.nox.coerage.coerage.*.cahenostests.xmlcovrage.xml*.cver*.p,cover.hyothesis/.pyest_cache/# Translations*.mo*.pot# Django stuff:*.loglocal_settings.pydb.sqlite3db.sqlite3-journal# Flask stuff:instance/.webassets-cache# Scrapy stuff:.scrapy# Sphinx documentationdocs/_build/# PyBuildertarget/# Jupyter Notebook.ipynb_checkpoints# IPythonprofile_default/ipython_config.py# pyenv.python-version# pipenv#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock #in version control.#   However, in case of collaboration, if having platform-specific #dependencies or dependencies#   having no cross-platform support, pipenv may install dependencies that #don't work, or not#   install all needed dependencies.#Pipfile.lock# PEP 582; used by e.g. github.com/David-OConnor/pyflow__pypackages__/# Celery stuffcelerybeat-schedulecelerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
